.bl{
    padding-inline: 150px;
}
.cent{
    text-align: center;
}
.lin{
    color: #0A66C2;
}
.link{
    background-color: #0A66C2;
    height:30px;
    font-size:22px;
    padding-inline:6px;
    padding-top:1px;
    margin-left:3px;
    border-radius:3px;
}